@import "../../styles/main.scss";

.small_images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  grid-column: 1/-1;
  grid-row: 2/3;

  @include on-tablet {
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @include on-desktop {
    grid-column: 1/3;
  }
}

.small_img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  padding: 5px;
  border: 0.2px solid $elements-color;
  transition: transform 0.3s;
}

.small_img:hover{
  transform: scale(1.2);
}

.isActiveImg {
  border: 0.2px solid $white-color;
}

.big_image_wrapper {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  object-fit: contain;
  position: relative;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 16px;

  @include on-tablet {
    grid-row: 1/2;
    grid-column: 2/8;
  }

  @include on-desktop {
    grid-column: 3/13;
  }
}

.big_image{
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.lightTheme {
  .small_img {
    border: 0.2px solid $white-theme-elements;
  }

  .isActiveImg {
    border: 0.2px solid $white-theme-primary;
  }
}