@import '../../styles/main';

.cart {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  cursor: pointer;
}

.active {
    position: relative;

    color: $white-color;
  
    &::after {
      content: '';
  
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100%;
  
      background-color: $white-color;
    }
}