@import '../../../../styles/main';

.ModalContent {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 50vw;
        min-width: 350px;
        padding: 50px 20px 30px;

        flex-direction: column;
        gap: 20px;

        background-color: $surface-1-color;
        border: 1px solid $icons-color;

    &>h2 {
        @extend %h4;

        line-height: 150%;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 10px;
        width: 80%;
        max-width: 200px;
        color: $white-color;
        background-color: $accent-color;
        cursor: pointer;

        @extend %text-buttons;
        @include hover(background-color, $accent-color-hover);
    }
}

.lightTheme {
    background-color: $white-theme-white;
    border: 1px solid $white-theme-secondary;

    .ModalContent__button {
        background-color: $white-theme-primary;
        transition: background-color 0.3s ease;
    }

    .ModalContent__button:hover {
        background-color: $white-theme-secondary;
    }
}