@import "../../styles/main.scss";

.product {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: inherit;
  border: 1px solid $surface-1-color;
  padding: 31px;
  overflow: hidden;

  @include on-desktop {
    @include hover(transform, scale(1.1));
    transition: transform 0.4s ease-out;
  }

  &:hover {
    border-color: $primary-color;
  }

  &__image {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include on-desktop {
      @include hover(transform, scale(1.1));
      transition: transform 0.3s ease-out;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;

    margin: 0;
    padding-top: 16px;
    text-decoration: none;
    color: inherit;
    transition-duration: 0.3s;



    &:hover {
      color: $accent-color;
    }
  }

  &__prices {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30.8px;
  text-align: left;

    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__price {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0;

    @extend %h3;

    &-discount {
      color: $elements-color;
      font-weight: 700;
      text-decoration: line-through;
    }
  }

  &__line {
    margin-block: 8px;
    display: block;
    height: 1px;
    background-color: $elements-color;
  }
}

.info {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  padding-block: 8px;

  &__screen,
  &__capacity,
  &__ram {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $secondary-color;
  }

  &-key {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.34px;
    text-align: left;


    margin: 0;
  }

  &-value {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15.34px;
    text-align: right;
    color: $white-color;
    margin: 0;
    text-align: right;
    text-wrap: wrap;
    font-weight: 700;
  }
}