@import '../../styles/main.scss';

.menu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
  min-width: 320px;
  max-width: 639px;
  height: 100vh;
  width: 100vw;
  background-color: $black-color;
  z-index: 1000;
  overflow: hidden;
  position: fixed;
  top: 54px;
  left: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  &.isOpen {
    transform: translateX(0);
  }


  &__list {
    margin-top: 24px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__link {
    @include uppercase;

    position: relative;
    text-decoration: none;
    color: $secondary-color;
    transition-duration: 0.3s;

    &:hover {
      color: $white-color;

      &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 2px;
      display: block;
      background-color: $white-color;
      }
    }
  }

  &__bottom {
    position: fixed;
    bottom: 54px;
    display: flex;
    flex-direction: row;
    height: 64px;
    border-top: 1px solid $elements-color;
    width: 100%;
  }

  &__icons {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

   &:nth-child(even) {
    border-left: 1px solid $elements-color;
    }

    a {
      display: block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:active {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $white-color;
      }
    }
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &__num {
    position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $red-color;
      font-size: 12px;
      font-weight: 700;
      color: $white-color;
      border: 1px solid $black-color;
      text-align: center;
      line-height: 16px;
  }

  &-favourite {
    background-image: url(/img/icons/Favourites.svg);
  }

  &-cart {
    background-image: url(/img/icons/Cart.svg);
  }

  &:hover{
    @include hover(transform, scale(1.3));
      transition: transform 0.5s ease-out;
      color: $white-color;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $surface-1-color;
  }
}

@media (min-width: 640px) {
  .menu {
    display: none;
  }
}

.lightTheme {
  background-color: $white-theme-white;
  // color: $black-color;

  // .menu_link{
  //   color: $black-color;
  // }


}