@import "./utils/reset";
@import "./utils/normalize";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/typography";

body {
  cursor: url(/img/icons/okcursor.png), auto;
  box-sizing: border-box;
}