@import '../../styles/main';

.Favourites {
  padding-top: 24px;
  margin-bottom: 56px;

  @include content-padding-inline;

  @include on-tablet {
    margin-bottom: 64px;
  }
  
  @include on-desktop {
    margin-bottom: 80px;
  }

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }
}

.active {
  position: relative;

  color: $white-color;
}


.active::after{
  content: '';

  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;

  background-color: $white-color;
}

.titleFav {
  margin-top: 16px;
  @extend %h1;
}

.items {
  color: #89939a;
  font-size: 14px;
  line-height: 21px;

  @extend %text-small;
}

.fav__container {
  margin: 40px 0 40px;
  display: grid;
  grid-gap: 16px;
  justify-content: center;

  @media (max-width: 639px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 640px) and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item__fav {
  background-color: red;
  width: 272px;
  height: 506px;
  margin: 0 auto;
}

.spanNav {
  display: block;
  margin-top: 24px;
}

.lightTheme {
  .titleFav {
    color: $white-theme-primary;
  }
}