@mixin on-tablet {
    @media (min-width: 640px) {
        @content;
    }
}

@mixin on-desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin container {
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
    padding-inline: 16px;

    @include on-tablet {
        padding-inline: 24px;
    }
}

@mixin uppercase {
  text-transform: uppercase;
}