@import './mixins';

  %h1 {
    font-family: Mont, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;
  
    @include on-tablet {
      font-size: 48px;
      line-height: 56px;
    }
  }
  
  %h2 {
    font-family: Mont, sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: -0.01em;
  
    @include on-tablet {
      font-size: 32px;
      line-height: 41px;
    }
  }

  %h2-desktop {
    font-family: Mont, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  %h3 {
    font-family: Mont, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
  
    @include on-tablet {
      font-size: 22px;
      line-height: 31px;
    }
  }
  

  %h3-category{
    font-family: Mont, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }


  %h4 {
    font-family: Mont, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  
    @include on-tablet {
      font-size: 20px;
      line-height: 26px;
    }
  }

  %text-uppercase {
    font-family: Mont, sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  
  %text-buttons {
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }
  
  %text-body {
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }
  
  %text-small {
    font-family: Mont, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.34px;
  }


  @mixin buttons {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
  
  @mixin primary-button {
    @include buttons;
  
    padding: 0;
    border: none;
    color: $white-color;
    background-color: $accent-color;
    cursor: pointer;
    outline: none;
    transition-duration: 0.3s;
  
    &:hover {
      background-color: #a378ff;
    }
  }
  
  @mixin secondary-button {
    padding: 0;
    border: none;
    background-color: $surface-2-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    cursor: pointer;
    outline: none;
    transition-duration: 0.3s;
  
    &:hover {
      background-color: $icons-color;

    }
  
    &:disabled {
      background-color: transparent;
      border: 1px solid $elements-color;
    }
  }

  @mixin secondary-button-selected {
    background-color: transparent;
    border: 1px solid $elements-color;
    transition-duration: 0.3s;
  }

