$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$black-color: #0F1121;
$secondary-color: #75767F;
$white-color: #F1F2F9;
$icons-color: #4a4d58;
$elements-color: #3B3E4A;
$surface-1-color: #161827;
$surface-2-color: #323542;
$accent-color: #905BFF;
$accent-color-hover: #A378FF;
$green-color: #27AE60;
$red-color: #EB5757;
$color-icons:  #b4bdc3;
$primary-color: #a378ff;
