@import '../../styles/main';

.Header {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  background-color: $black-color;
  border: 1px solid $surface-2-color;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &__left {
    display: flex;
    gap: 14px;

    @include on-desktop {
      gap: 24px;
    }
  }

  &__logo {
    padding: 13px 16px;

    @include on-desktop {
      padding: 18px 24px;
    }
  }

  &__right {
    display: flex;
  }

  &__favorites,
  &__cart,
  &__nav,
  &__settings {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

  &__favorites,
  &__cart,
  &__settings {
    width: 48px;

    @include on-desktop {
      width: 64px;
    }
  }

  &__favorites::before,
  &__cart::before{
    content: '';
    width: 1px;
    height: 100%;
    background-color: $surface-2-color;
  }
  // &__favorites::before,
  // &__cart::before,
  // &__settings::before{
  //   content: '';
  //   width: 1px;
  //   height: 100%;
  //   background-color: $surface-2-color;
  // }
}

.Header__settings {
  width: 64px;
  display: none;

  @include on-tablet {
    width: 64px;
    display: flex;
    justify-content: center;
    margin-inline: 7px;
  }

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: $surface-2-color;
  }

  @include on-tablet {
    &::before {
      content: '';
      margin-right: 19px;
    }
  }

  @include on-desktop {
    &{
      margin-inline: 0;
    }

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    margin-right: 0;
    background-color: $surface-2-color;
  }

  }

  & > button {
    width: 100%;
    height: 100%;
  }
}

// Header burger-menu //

.Header__menu {
  width: 96px;
  display: flex;

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 100%;
    cursor: pointer;
    border-left: 0.5px solid $surface-2-color;
  }

  @include on-tablet {
    display: none;
  }

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: $surface-2-color;
  }
}

.Header__settings_menu{
  z-index: 1001;
  width: 48px;
  margin-top: 13px;
  padding-bottom: 15px;

  & > button {
    width: 100%;
    height: 100%;
  }
}

// Header burger-menu, end //


.lightTheme {
  background-color: $white-theme-white;
  color: $black-color;
  border: 1px solid $white-theme-elements;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  .Header__favorites::before, .Header__cart::before, .Header__settings::before  {
    content: '';
    width: 1px;
    height: 100%;
    background-color: $white-theme-elements;
  }

  .Header__menu > button {
    border-left: 0.5px solid $white-theme-elements;
    
  }
}

.lightTheme > * {
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.nav_LngBtn {
  color: white;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 22px;
}

