@import '../../styles/main.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

.Rights {
  margin-top: 40px;
  margin-bottom: 56px;

  @include content-padding-inline;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }  
}

.our {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary-color;
  margin-top: 40px;
}


.imagerights {
  height: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}