@import "../../styles/main.scss";

.buttons {
  margin-top: 8px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__button {
    &-cart {
      width: calc(100% - 40px - 8px);
      height: 40px;

      @include primary-button;
    }

    &-cartActive {
      background-color: transparent;
      border: 1px solid $accent-color;
      color: $accent-color;
    }

    &-fav {
      @include secondary-button;

      width: 40px;
      height: 40px;
      margin-left: 8px;

      background-image: url(/img/icons/Favourites.svg);

      &-selected {
        @include secondary_button-selected;

        background-image: url(/img/icons/Favourites-Added.svg);
      }
    }
  }
}