@import "../../styles/main.scss";

.about{
  padding-top: 24px;
  @include content-padding-inline;
  @include page-grid;

  // @include on-desktop {
  //   column-gap: 64px;
  // }
}

.breadCrumbs {
  margin-bottom: 40px;
  grid-column: 1/-1;
}

.back_link{
  display: flex;
  align-items: center; 
  margin-bottom: 16px;
  grid-column: 1/-1;
}

.back_text{
  @extend %text-small;
  color: $white-color;
}

.loader{
  @include loader;
  margin: 0 auto; 
  width: (100vw);
  min-width: 320px;


  @include on-desktop {
    width: 1136px;
  }


}

.title {
  @extend %h2;
  margin-bottom: 40px;
  grid-column: 1/-1;
}




// first section

.images_container{
  grid-column: 1/5;
  --columns: 4;
  display: grid;
  grid-auto-rows: repeat(2, auto); 
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 16px;
  margin-bottom: 40px;

  @include on-tablet {
    grid-auto-rows: repeat(1, auto); 
    grid-column: 1/8;
    --columns: 7;
    margin-bottom: 64px;
  }

  @include on-desktop {
    grid-column: 1/13;
    --columns: 12;
    margin-bottom: 80px;
  }
}


// second section

.choice_params {
  grid-column: 1/5;
  margin-bottom: 56px;

  @include on-tablet {
    grid-column: 8/13;
  }

  @include on-desktop {
    grid-column: 14/21;
  }
}


// about

.section_about {
  grid-column: 1/-1;
  margin-bottom: 32px;

  @include on-desktop {
    grid-column: 1/13;
  }
}

.title_about {
  @extend %h3;
  position: relative;
  margin-bottom: 48px;
}

.title_about::after {
  content: '';
  display: block;
  position: absolute;
  top: 47px;
  width: 100%;
  height: 0.5px;
  background-color: $elements-color;
}

.text_title {
  @extend %h4;
  margin-bottom: 16px;
  color: $white-color;
}

.text_about {
  @extend  %text-body;
  margin-bottom: 32px;
  color: $secondary-color;
}

// tech

.section_tech {
  grid-column: 1/-1;
  margin-bottom: 64px;

  @include on-desktop {
    grid-column: 14/25;
  }
}

