@import "../../styles/main.scss";

.section_params {
  position: relative;
  margin-bottom: 46px;
}

.section_params::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -24px;
  width: 100%;
  height: 0.5px;
  background-color: $elements-color;
  color: $white-color;
}

.colors_text {
  @extend %text-small;
  color: $secondary-color;
  margin-bottom: 8px;
}

.capacity_text {
  @extend %text-small;
  color: $secondary-color;
}

.isActiveCol {
  outline: 1px solid $white-color !important;
}

.radio_color {
  height: 32px;
  width: 32px;
  appearance: none;
  border-radius: 50%;
  border: 3px solid $black-color;
  cursor: pointer;
  outline: 1px solid $elements-color;
  // box-shadow: 0 0 0 1px transparent, 0 0 0 1px green;
  margin-right: 8px;
}


.capacity_button {
  @extend %text-body;
  cursor: pointer;
  color: $white-color;
  background-color: $black-color;
  padding: 7px 8px;
  border: 1px solid $icons-color;
  margin-right: 8px;
  margin-top: 8px;
}

.notActive,
.radio_color {
  transition: box-shadow 0.3s;
}

.notActive:hover,
.radio_color:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.isActiveButton {
  color: $black-color;
  background-color: $white-color;
  border: 1px solid $white-color;
}


.section_params_price {
  margin-bottom: 20px;
}

.product__prices {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 30.8px;
  text-align: left;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.product__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 30.8px;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 0;

  @extend %h3;

  &-discount {
    color: $elements-color;
    font-size: 22px;
    font-weight: 700;
    text-decoration: line-through;
    }
}

.buttons {
  margin-bottom: 16px;
}

.info {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  padding-block: 8px;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $secondary-color;
  }

  &-key {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.34px;
    text-align: left;


    margin: 0;
  }

  &-value {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15.34px;
    text-align: right;
    color: $white-color;
    margin: 0;
    text-align: right;
    text-wrap: wrap;
    font-weight: 700;
  }
}

.lightTheme {
  .section_params::after {
    background-color: $white-theme-green;
    color: $white-theme-green;
  }
  
  .colors_text {
    color: $white-theme-secondary;
  }
  
  .capacity_text {
    color: $white-theme-secondary;
  }
  
  .isActiveCol {
    outline: 2px solid $white-theme-primary !important;
  }

  .radio_color {
    border: 3px solid $white-theme-white;
    outline: 1px solid $white-theme-icons;
  }
  
  .capacity_button {
    color: $white-theme-primary;
    background-color: $white-theme-white;
    border: 1px solid $white-theme-secondary;
  }

  .isActiveButton {
    color: $white-theme-white;
    background-color: $white-theme-primary;
    border: 1px solid $white-theme-primary;
  }

  .product__price {
    color: $white-theme-primary;
  }

  .product__price-discount {
    color: $white-theme-secondary;
  }

  .info-key {
    color: $white-theme-secondary;
  }

  .info-value {
    color: $white-theme-primary;
  }
}