@import '../../styles/main.scss';

.carousel-container {
  position: relative;

  .carousel-arrow {
    position: absolute;
    box-sizing: border-box;
    top: -43.5px;
    width: 32px; // Adjust width as needed
    height: 32px; // Adjust height as needed
    color: #fff;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    border: 1px solid #333;

    &--next {
      right: 10px; // Position the next arrow on the right
    }

    &--prev {
      left: initial;
      right: 60px; // Position the prev arrow left of the next arrow
    }

    &:hover {
      background-color: $surface-2-color;
    }

    &:before {
      display: none;
    }
  }
}

.top {
  @media (max-width: 455px) {
    top: -65.5px !important;
  }
}

.slick-prev, .slick-next {
  border-radius: 0;
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  right: 60px;
}

.carousel-container.slick-arrow.slick-prev.carousel-arrow.carousel-arrow--prev {
  right: 60px;
}

.slick-track {
  display: flex;
  gap: 16px;
  padding: 10px;
  max-height: 506px;
}

.slick-slide{
  min-width: 212px;

  height: 100%;

  @include on-tablet {
    min-width: 237px;
  }
  
  @include on-desktop {
    min-width: 272px;
  }
}


.icon {
  filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(130%) contrast(95%);
  width: 26px; // Adjust as needed
  height: 26px;
  padding: 5px;

  &:hover {
    filter: invert(190%) sepia(10%) saturate(500%) hue-rotate(900deg) brightness(100%) contrast(95%)
  }
}