@import '../../styles/main.scss';

.carousel-container {
  position: relative;

  .carousel-arrow {
    position: absolute;
    top: -43.5px;;
    width: 32px; // Adjust width as needed
    height: 32px; // Adjust height as needed
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 1;

    &--next {
      right: 20px; // Position the next arrow on the right
    }

    &--prev {
      left: initial;
      right: 60px; // Position the prev arrow left of the next arrow
    }

    &:hover {
      background-color: $surface-2-color;
    }

    &:before {
      top: -2px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 16px;
    }
  }
}

.slick-prev, .slick-next {
  border-radius: 0;
}

.slick-arrow {
  display: flex;
  justify-content: flex-end;
}

.slick-prev {
  right: 60px;
}

.carousel-container.slick-arrow.slick-prev.carousel-arrow.carousel-arrow--prev {
  right: 60px;
}

.slick-track {
  display: flex;
  gap: 16px;
  padding: 10px;
}

.slick-slide{
  min-width: 212px;

  @include on-tablet {
    min-width: 237px;
  }
  
  @include on-desktop {
    min-width: 272px;
  }
}