@import '../../styles/main.scss';

.settings {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;

  @include on-desktop {
    width: 64px;
    height: 64px;
  }

  .iconButton {
    display: flex;
    border: none;
    cursor: pointer;
    padding: 0;
  
    img {
      width: 24px;
      height: 24px;
      transition: transform 0.5s ease-in-out;
    }
  
    &.rotate {
      img {
        transform: rotate(360deg);
      }
    }
  }
  

  .menu {
    position: absolute;
    cursor: pointer;
    top: 100%;
    left: 50%;
    width: 64px;
    transform: translateX(-50%);
    background-color: $black-color;
    border: 1px solid $elements-color;
    box-shadow: 0 2px 8px $elements-color;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.open {
      max-height: 200px;
      opacity: 1;
    }

    .menuItem {
      margin: 8px 0;
      
      &__language:active{
        img {
          transform: rotateY(3.142rad);
          transition: transform 0.20s ease-in-out;
        }
      }

      &__theme{
        position: relative;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

          img {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
          }
      }

  
      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
}

.lightTheme {
  .menu {
    background-color: $white-theme-white;
    border: 1px solid $white-theme-elements;
    box-shadow: 0 0 0;
  }
}